<h1>Editing the <%= section.name %></h1>

<div class="flex-column raisedDiv">
    <form action="<%= `/section/edit/${section._id}` %>" method="POST">
        <label for="name">Name Of Menu</label>
        <input type="text" name="name" required value="<%= section.name %>">
        <label for="description">Menu Description</label>
        <textarea rows="3" cols="20" name="description"><%= section.description %></textarea>
        <button type="submit">Save</button>
    </form>
</div>
<a href="<%= `/menu/view/${section.parent}` %>">Back</a>