<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Interactive Menu Server</title>
    <link rel="shortcut icon" href="/img/siteicon.png" />
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/responsive/main.css">
    <% if(typeof css != "undefined"){ %>
        <% css.forEach(item => {%>
            <link rel="stylesheet" type="text/css" href="<%= `/css/${item}.css` %>">
            <link rel="stylesheet" type="text/css" href="<%= `/css/responsive/${item}.css` %>">
        <%})%>
    <%}%>
</head>
<body>
    <script src="/js/utils.js"></script>
    
    <%- include("../partials/utils") %>
    <%- include("../partials/header") %>
    <div class="flex-column" id="hero">
        <% if(message.error){ %>
            <% message.error.forEach(item=>{%>
                <h3 class="error infoMessage"><%= item %></h3>
            <%})%>
        <%}%>
        <% if(message.info){ %>
            <% message.info.forEach(item=>{%>
                <h3 class="infoMessage"><%= item %></h3>
            <%})%>
        <%}%>
        <%- body %>
    </div>
    <%- include("../partials/footer") %>

    <script src="/js/public.js"></script>
    <script src="/js/drag.js"></script>
</body>
</html>